.App {
    background-image: url("./background.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.App input, .App button{
    margin: 20px;
    padding: 10px 20px;
    border:  2px solid gray;
    background-color: #fff;
    border-radius: 100px;
}

.App button{
    cursor: pointer;
}

.App button:hover {
    background-color: #000;
    color: white;
    border-color: black;
}