#tableresult{
    height: 50vh;
}

.data{
    color: #171717;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

.title{
    color: #5d5b5b;
    font-size: large;
    text-align: center;
}

.result em {
    font-weight: bold;
    font-size: xxx-large;
    color: black;
}