.result {
    padding-top: 20px;
    border-top: 2px solid #ddd;
}

.data{
    color: white;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

#tableresult{
    text-align: center;
    margin: auto;
    width: auto;
}

.title{
    color: gray;
    font-size: large;
}

.result em {
    font-weight: bold;
    font-size: xxx-large;
    color: black;
}