.result {
    margin-left: 50px;
    padding-top: 20px;
    border-top: 2px solid #ddd;
    color: black;
    text-align: center;
    height: 80vh;
}

.result h3, .result h4 {
    font-weight: bolder;
}
.result em {
    font-weight: bold;
    font-size: xx-large;
}